#text {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333333;
}

#name {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

#profession {
    font-size: 20px;
    text-align: center;
}

#profile-info {
    font-size: 20px;
    text-align: left;
    font-family: monospace;
}